<style>
#container_video #video_html5_api:hover {
  cursor: pointer;
}
</style>
https://scotch.io/quick-tips/how-to-encode-and-decode-strings-with-base64-in-javascript
<script type="text/javascript">

$(document).ready(function() {
// Encode the String
var encodedString = btoa('http://corrupt-system.de/assets/media/sintel/sintel-trailer.m4v');
console.log(encodedString);
  $('#video_html5_api').append('<source id="video_html5_api_" type="video/mp4" src="' + encodedString + '"></source>');

  $("#video_html5_api").on('click', function(e) {
    console.log($('#video_html5_api source').attr('src'));

    // Decode the String
    var decodedString = atob(encodedString);
    console.log(decodedString); // Outputs: "Hello World!"
    $('#video_html5_api source').attr('src', decodedString);
    $("#video_html5_api")[0].load();

    $('#video_html5_api')[0].play();

    //$("#video_html5_api")[0].load();
  });

    $('#video_html5_api').bind('contextmenu', function(e) {
       return false;
    });

  });

</script>

<div id="container_video" class="video-js vjs-default-skin vjs-paused vjs-controls-enabled vjs-user-inactive" poster="http://www.superanimes.com/img/player-thumb2.jpg" style="height: 380px;">

<video id="video_html5_api" class="vjs-tech" poster="http://www.superanimes.com/img/player-thumb2.jpg">

</video>
</div>