<table>
  <thead>
    <tr>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registration_courses.each do |registration_course| %>
      <tr>
        <td><%= registration_course.curso.nome %></td>
        <td><%= link_to 'Show', registration_course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>