<p>
  <strong>Disciplinas:</strong>
  <% @registration_courses.each do |discipline| %>
    <a href="javascript: void(0)" onclick="showDiscipline('<%= discipline_path(discipline.id) %>')">
      <%= discipline.name %>
    </a>
    <%= link_to 'Dar aula', discipline_arduino_path(discipline) %><br />
  <% end %>
</p>

<div id="read_discipline">
  <strong>Carga Horaria</strong>
  <span id="read_workload"></span><br />
  <strong>Professor</strong>
  <span id="read_professor"></span><br />
  <strong>Descrição</strong>
  <span id="read_description"></span><br />
  <strong>Ementa</strong>
  <span id="read_ementa"></span><br />
  <strong>Bibliografia</strong>
  <span id="read_bibliography"></span>
</div>