<h1>Seja Bem Vindo ao Portal</h1>

<style type="text/css">
 table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
 }
 td {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 10px;
   height: 10px;
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }
</style>

<table>
 <% @qr.modules.each_index do |x| -%>
   <tr>
   <% @qr.modules.each_index do |y| -%>
    <% if @qr.dark?(x,y) -%>
    <td class="black"/>
    <% else -%>
    <td class="white"/>
    <% end -%>
   <% end -%>
   </tr>
 <% end -%>
</table>
<br>
<br>
<br>
<br>
<br>
<br>

<%= videojs_rails sources: { mp4: "/heathens.mp4", webm: "/heathens.webm" },setup: {}, width:"600",height:"300",class: "personalizada-video-js vjs-personalizada-skin" do %>
    Please enable <b>JavaScript</b> to see this content.
<%- end %>
