<h1>Comando Atual</h1><br />
<h3 id="commands">dormindo</h3><br />

<button onclick="left();">Esquerda</button>
<button onclick="right();">Direita</button>
<button onclick="up();">Cima</button>
<button onclick="down();">Baixo</button><br />

<br /><br /><br />
<a href="http://pure-dawn-3745.herokuapp.com/">exemplo</a>